<%- include('../partials/head') %>
<%- include('../partials/header') %>

<% if (name) { %>
<h1><span style="text-transform: capitalize;"><%= name %></span>'s logs</h1>
<% } else { %>
<h1>Wardrobe Items Index Page</h1>
<% } %>

<a class="button" style="margin: 1rem" href="/items/new">Add To Wardrobe</a>

<div class="card">
    <% if (items.length) { %>
    <% items.forEach(function(item) { %>

        <ul>
            <li class="w-25">
                <a href="/items/<%= item._id %>">
                    <img class="" src="<%= item.img %>" alt="<%= item.name %> picture" />
                </a>
            </li>
        </ul>


    <% }); %>
    <% } else { %>
    <p>No logs found.</p>
    <% } %>
</div>

<%- include('../partials/footer') %>
