<%- include('../partials/head') %>

<ul>
    <li><img src="<%= foundItem.img %>" alt="picture"></li>
    <li>name: <%= foundItem.name %></li>
    <li>brand: <%= foundItem.brand %></li>
    <li>type: <%= foundItem.type %></li>
    <li>description: <%= foundItem.description %></li>
    <li>notes: <%= foundItem.notes %></li>
</ul>

<form action="/items/<%= foundItem._id %>?_method=DELETE" method="POST">
    <input type="submit" value="Delete">
</form>

<a href = '/items/<%= foundItem._id %>/edit'>Edit</a>

<a href="/items">Back</a>

<%- include('../partials/footer') %>