<%- include('../partials/head') %>
<%- include('../partials/header') %>

<h1>Welcome, <span style="text-transform: capitalize;"><%= user.name %></span></h1>
<p>Your email is <%= user.email %></p>

<a class="button" style="margin: 1rem;" href="/items/filtered">My Wardrobe</a>
<a class="button"  href="/items">All Wardrobe Items</a>
<a class="button" style="margin-top: 1rem" href="/items/new">Add Wardrobe Item</a>
<a class="button" style="width: fit-content; margin-top: 1rem" href="/users/profile/edit">Edit User</a>

<%- include('../partials/footer') %>


